
<div class="file-item">
    <div class="file-item-icon file-item-level-up fas fa-level-up-alt text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        ..
    </a>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-icon fas fa-folder text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Images
    </a>
    <div class="file-item-changed">02/13/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-icon fas fa-folder text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Scripts
    </a>
    <div class="file-item-changed">02/14/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-icon fas fa-folder text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Utils
    </a>
    <div class="file-item-changed">02/15/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-icon fas fa-file-archive text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Archive.zip
    </a>
    <div class="file-item-changed">02/16/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-icon fab fa-js text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Build.js
    </a>
    <div class="file-item-changed">02/17/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-icon fas fa-file-word text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Checklist.doc
    </a>
    <div class="file-item-changed">02/18/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-icon fab fa-html5 text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Index.html
    </a>
    <div class="file-item-changed">02/19/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-img" style="background-image: url(https://bootdey.com/img/Content/avatar/avatar1.png);"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Image-1.jpg
    </a>
    <div class="file-item-changed">02/20/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-img" style="background-image: url(https://bootdey.com/img/Content/avatar/avatar6.png);"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Image-2.png
    </a>
    <div class="file-item-changed">02/21/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-img" style="background-image: url(https://bootdey.com/img/Content/avatar/avatar4.png);"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Image-3.gif
    </a>
    <div class="file-item-changed">02/22/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-icon fab fa-js text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Main.js
    </a>
    <div class="file-item-changed">02/23/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-icon fas fa-file text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        MAKEFILE
    </a>
    <div class="file-item-changed">02/24/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-icon fas fa-file-pdf text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Presentation.pdf
    </a>
    <div class="file-item-changed">02/25/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-icon fas fa-file-alt text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        README.txt
    </a>
    <div class="file-item-changed">02/26/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-icon fab fa-css3 text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Style.css
    </a>
    <div class="file-item-changed">02/27/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-icon fas fa-file-audio text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Test.mp3
    </a>
    <div class="file-item-changed">02/28/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

<div class="file-item">
    <div class="file-item-select-bg bg-primary"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
    </label>
    <div class="file-item-icon far fa-file-video text-secondary"></div>
    <a href="javascript:void(0)" class="file-item-name">
        Tutorial.avi
    </a>
    <div class="file-item-changed">03/01/2018</div>
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-dropdown btn-sm  icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>