{% extends "account/base.html" %}

{% block title %}{{page}}{% endblock %}

{% block main %}

<div class="filebrowser-body">

    <div class="container flex-grow-1 light-style container-p-y">
        <div class="container-m-nx container-m-ny bg-lightest mb-3">
            <ol class="breadcrumb text-big container-p-x py-3 m-0" id="main-toolbar-tree-path">
                {% comment %} <li class="breadcrumb-item">
                    <a href="javascript:void(0)">home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">projects</a>
                </li>
                <li class="breadcrumb-item active">site</li> {% endcomment %}
            </ol>
    
            <hr class="m-0" />
    
            <div class="file-manager-actions container-p-x py-2">
                <div>
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-default md-btn-flat dropdown-toggle px-2" data-toggle="dropdown"><i class="fas fa-cog mr-2"></i></button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="javascript:void(0)">Move</a>
                            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                        </div>
                        <button class="btn btn-default icon-btn md-btn-flat" id="button-main-refresh-objects"> <span class="fas fa-sync-alt"></span> </button>
                    </div>
                </div>
                <div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-default icon-btn md-btn-flat active"> <input type="radio" name="file-manager-view" value="file-manager-col-view" checked="" /> <span class="fas fa-th"></span> </label>
                        <label class="btn btn-default icon-btn md-btn-flat"> <input type="radio" name="file-manager-view" value="file-manager-row-view" /> <span class="fas fa-bars"></span> </label>
                    </div>
                </div>
            </div>
    
            <hr class="m-0" />
        </div>
    
        <div class="file-manager-container file-manager-col-view" id="class-main-file-manager">
            <div class="file-manager-row-header">
                <div class="file-item-name pb-2">Filename</div>
                <div class="file-item-changed pb-2">Changed</div>
            </div> 

            
        </div>
    </div>


</div>


{% endblock %}