<div class="modal fade" id="modal-upload-file" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Upload File</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
           
            <div class="container">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Upload Files</strong> <small>Freebird files upload</small></div>
                  <div class="panel-body">
          
                    <!-- Standar Form -->
                    <h4 class="mt-2">Select files from your computer</h4>
                    <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                      <div class="form-inline">
                        <div class="form-group">
                          <input type="file" name="files[]" id="js-upload-files" multiple>
                        </div>
                        <button type="submit" class="btn btn-sm btn-info" id="js-upload-submit">Upload files</button>
                      </div>
                    </form>
          
                    <!-- Drop Zone -->
                    <h4 class="mt-3">Or drag and drop files below</h4>
                    <div class="upload-drop-zone" id="drop-zone">
                      Just drag and drop files here
                    </div>
          
                    <!-- Progress Bar -->
                    <div class="progress mt-3">
                      <div id="modal-upload-progressbar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                        <span id="modal-upload-progressbar-percentage">0%</span>
                      </div>
                    </div>
          
                    <!-- Upload Finished -->
                    <div class="js-upload-finished mt-4">
                      <h3>Uploaded files</h3>
                      <div class="list-group" id="modal-listof-uploaded">
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- /container -->


        </div>
    </div>
    
    </div>
</div>



<div class="modal fade" id="modal-create-folder" style="display: none; padding-right: 15px;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create New Folder</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Folder Name</label>
          <input type="text" class="form-control" id="input-text-modal-foldername" placeholder="Enter folder name">
          </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" id="button-modal-create-folder">Create</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modal-information" style="display: none; padding-right: 15px;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
          <div class="card bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0" id="modal-information-type">
            Laoding..
            </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-7">
                <h2 class="lead"><b id="modal-information-name">...</b></h2>
                <p class="text-muted text-sm mb-1"><b><i class="fas fa-user mr-1"></i> Owner: </b> <span id="modal-information-owner"></span> </p>
                <p class="text-muted text-sm mb-1"><b><i class="fas fa-road mr-1 "></i> Path: </b> <span id="modal-information-path"></span> </p>
                <p class="text-muted text-sm mb-1"><b><i class="fas fa-hdd mr-1"></i> Size: </b> <span id="modal-information-size"></span> </p>
                <p class="text-muted text-sm mb-1"><b><i class="fas fa-users mr-1"></i> Shared: </b> <span id="modal-information-shared"><i class="fas fa-times text-danger ml-2"></i></span> </p>
                <p class="text-muted text-sm mb-1"><b><i class="fas fa-clock mr-1"></i> Created: </b> <span id="modal-information-created"></span> </p>
                <p class="text-muted text-sm mb-1"><b><i class="fas fa-clock mr-1"></i> Updated: </b> <span id="modal-information-updated"></span> </p>
              </div>
              <div class="col-5 text-center" id="main-modal-information-icon">
                <span class="fas fa-folder text-warning fa-10x"></span>
              </div>
              </div>
            </div>
              
          </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modal-object-rename" style="display: none; padding-right: 15px;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Rename</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Enter New Name</label>
          <input type="text" class="form-control" id="input-text-modal-objectid" value="" hidden>
          <input type="text" class="form-control" id="input-text-modal-newname" placeholder="Enter new name" value="">
          </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" id="button-modal-object-rename">Rename</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modal-object-move-to-trash" style="display: none; padding-right: 15px;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" id="input-modal-move-to-trash-id" value="" hidden>
          <p class="ml-3">
            Are you sure to remove this item?
          </p>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="button-modal-object-move-to-trash">Move to Trash</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modal-object-remove-for-ever" style="display: none; padding-right: 15px;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" id="input-modal-remove-for-ever-id" value="" hidden>
            <span class="ml-3 text-red"><b>(Never Back!!!)</b></span>
            <p class="ml-3">
              Are you sure to remove this item?
            </p>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" id="button-modal-object-remove-for-ever">Remove</button>
        </div>
      </div>
    </div>
</div>
