<div class="modal fade" id="modal-upload-file" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Upload File</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
           
            <div class="container">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Upload Files</strong> <small>Freebird files upload</small></div>
                  <div class="panel-body">
          
                    <!-- Standar Form -->
                    <h4 class="mt-2">Select files from your computer</h4>
                    <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                      <div class="form-inline">
                        <div class="form-group">
                          <input type="file" name="files[]" id="js-upload-files" multiple>
                        </div>
                        <button type="submit" class="btn btn-sm btn-info" id="js-upload-submit">Upload files</button>
                      </div>
                    </form>
          
                    <!-- Drop Zone -->
                    <h4 class="mt-3">Or drag and drop files below</h4>
                    <div class="upload-drop-zone" id="drop-zone">
                      Just drag and drop files here
                    </div>
          
                    <!-- Progress Bar -->
                    <div class="progress mt-3">
                      <div id="modal-upload-progressbar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                        <span id="modal-upload-progressbar-percentage">0%</span>
                      </div>
                    </div>
          
                    <!-- Upload Finished -->
                    <div class="js-upload-finished mt-4">
                      <h3>Uploaded files</h3>
                      <div class="list-group" id="modal-listof-uploaded">
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- /container -->


        </div>
    </div>
    
    </div>
</div>